.gallery{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
     
}
.info{
    display: flex;
    text-align: center;
}
img{
    width: 250px;
    height: 150px;
}
.load-more{
   margin: 0 auto;
   display: block;
}
.search-form{
     display: flex;
     justify-content: center;
   
}